
@media (max-width:480px) {
    .col-480-12{
        width: 100% !important;
    }
}

@media (max-width:767px)  {
    .home_right{
        margin-left: 0;
    }
    .home_left{
        margin-right: 0;
    }
    .nav-container{
        z-index: 100 !important;
    }
    .group_search {
        position: relative;
        z-index: 5 !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .row_pc{
        margin-right: -15px;
        margin-left: -15px;
    }
    .nav-container{
        z-index: 100 !important;
    }
    .group_search {
        position: relative;
        z-index: 5 !important;
    }

}

@media (min-width:992px) and (max-width:1199px) /* md*/{
    .row_pc{
        margin-right: -15px;
        margin-left: -15px;
    }

}

@media (min-width:1200px) /* lg*/ {
    .row_pc{
        margin-right: -15px;
        margin-left: -15px;
    }
    .container{
        width: 1200px;
    }
    .col-lg-350{
        width: 35%;
    }
    .col-lg-450{
        width: 45%;
    }
    .col-lg-550{
        width:55%;
    }
    .col-lg-650{
        width: 65%;
    }

}

